/* Bulma extension */
.hero.hotel-background {
  background-image: url("https://phgcdn.com/images/uploads/TYOKP/corporatemasthead/keio-plaxa-hotel-tokyo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.has-text-justified {
  text-align: center;
}

span.icon.has-bg {
  padding: 35px;
  background-color: #ccc;
  border-radius: 35px;
}

.card .card-icon {
  padding-top: 20px;
}

.card.no-shadow {
  box-shadow: none;
}

.card.is-light {
  background-color: #eae8e8;
}

.title.is-white, .subtitle.is-white {
  color: white;
}

.caption {
  padding: 30px;
  background: rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.nav.is-light {
  background-color: #eae8e8;
}
